.menu_propio{
    
    li:hover{
      border-color: white;
      a{
      color: white;
      }
    }

    .current_page_item{
        border-color: white;
        a{
            color: white;
        }
    }
    
}